@import 'tailwindcss';

@theme {
  --color-anor-red: #d61f26;
  --color-anor-dark: #a51318;
  --color-anor-light: #fdf2f2;

  --spacing-max-width: 1280px;
  --spacing-margin-desktop: 48px;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}
